
.form-group {
  margin-top:25px;
}
.form-group {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex: 0 0 auto !important;
        flex: 0 0 auto !important;
    -ms-flex-flow: row wrap !important;
        flex-flow: row wrap !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    margin-bottom: 0 !important;
  }
.form-control {
  display: block !important;
  width: 100% !important;
  font-size:15px !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-image: none !important;
  background-clip: padding-box !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

.form-control::-ms-expand {
  background-color: transparent !important;
  border: 0 !important;
}

.form-control:focus {
  color: #495057 !important !important;
  background-color: #fff !important;
  border-color: #80bdff !important !important;
  outline: none !important !important;
}

.form-control::-webkit-input-placeholder {
  color: #868e96 !important !important;
  opacity: 1 !important !important;
}

.form-control:-ms-input-placeholder {
  color: #868e96 !important !important;
  opacity: 1 !important !important;
}

.form-control::placeholder {
  color: #868e96 !important !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef !important !important;
  opacity: 1 !important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px) !important;
}

select.form-control:focus::-ms-value {
  color: #495057 !important;
  background-color: #fff !important;
}

.form-control-file,
.form-control-range {
  display: block !important;
}

.col-form-label {
  padding-top: calc(0.5rem - 1px * 2) !important;
  padding-bottom: calc(0.5rem - 1px * 2) !important;
  margin-bottom: 0 !important;
}

.col-form-label-lg {
  padding-top: calc(0.5rem - 1px * 2) !important;
  padding-bottom: calc(0.5rem - 1px * 2) !important;
  font-size: 1.25rem !important;
}

.col-form-label-sm {
  padding-top: calc(0.25rem - 1px * 2) !important;
  padding-bottom: calc(0.25rem - 1px * 2) !important;
  font-size: 0.875rem !important;
}

.col-form-legend {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}

.form-control-plaintext {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin-bottom: 0 !important;
  line-height: 1.25 !important;
  border: solid transparent !important;
  border-width: 1px 0 !important;
}

.form-control-plaintext.form-control-sm, .input-group-sm > .form-control-plaintext.form-control,
.input-group-sm > .form-control-plaintext.input-group-addon,
.input-group-sm > .input-group-btn > .form-control-plaintext.btn, .form-control-plaintext.form-control-lg, .input-group-lg > .form-control-plaintext.form-control,
.input-group-lg > .form-control-plaintext.input-group-addon,
.input-group-lg > .input-group-btn > .form-control-plaintext.btn {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  height:10px !important;
  margin: 10px 0 0px 0 !important !important;
  line-height: 1 !important;
  
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > select.input-group-addon:not([size]):not([multiple]),
.input-group-sm > .input-group-btn > select.btn:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px) !important;
}

.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  line-height: 1.1 !important;
  border:1px solid red !important !important;
  
}

select.form-control-lg:not([size]):not([multiple]), .input-group-lg > select.form-control:not([size]):not([multiple]),
.input-group-lg > select.input-group-addon:not([size]):not([multiple]),
.input-group-lg > .input-group-btn > select.btn:not([size]):not([multiple]) {
  height: calc(2.3125rem + 2px) !important;
}

.form-group {
  margin-bottom: 0px !important;
}



.input-group {
  position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100% !important;
}

.input-group .form-control {
  position: relative !important;
  z-index: 2 !important;
  -ms-flex: 1 1 auto !important;
      flex: 1 1 auto !important;
  width: 1% !important;
  margin-bottom: 0 !important;
}

.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
  z-index: 3 !important;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
      align-items: center !important;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap !important;
  vertical-align: middle !important;
}

.input-group-addon {
  padding: 0.5rem 0.75rem !important;
  margin-top: 10px !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: 1.25 !important;
  color: #495057 !important;
  text-align: center !important;
  background-color: #e9ecef !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  
}

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  
}

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0 !important;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group-addon:not(:last-child) {
  border-right: 0 !important;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0 !important;
}

.input-group-btn {
  position: relative !important;
  font-size: 0 !important;
  white-space: nowrap !important;
}

.input-group-btn > .btn {
  position: relative !important;
}

.input-group-btn > .btn + .btn {
  margin-left: -1px !important;
}

.input-group-btn > .btn:focus, .input-group-btn > .btn:active, .input-group-btn > .btn:hover {
  z-index: 3 !important;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
  margin-right: -1px !important;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  z-index: 2 !important;
  margin-left: -1px !important;
}

.input-group-btn:not(:first-child) > .btn:focus, .input-group-btn:not(:first-child) > .btn:active, .input-group-btn:not(:first-child) > .btn:hover,
.input-group-btn:not(:first-child) > .btn-group:focus,
.input-group-btn:not(:first-child) > .btn-group:active,
.input-group-btn:not(:first-child) > .btn-group:hover {
  z-index: 3 !important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	margin-top: 0px !mportant !important;
}
.form-group>input{
	margin:20px !important !important;
}
/*


*/




input[type=checkbox]:not(:disabled) ~ .lever:active:after, input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadow:0 0px 0px 0px rgba(0,0,0,0),0 0 0 0px rgba(0,0,0,0) !important;
}
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after, input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadown:0 1px 3px 1px rgba(0,0,0,0.4),0 0 0 15px rgba(38,166,154,0.1)
}
.switch label .lever:after {
  top:0.1px !important;
  height:26px !important;
  width:26px !important;
  left:0.1px !important;
  background:whit !important;
 box-shadow:0 1px 3px 0px rgba(0,0,0,0.3) !important;
}
.switch label .lever {
  height:30px !important;
  width:50px !important;
  background-color:white !important;
  border:2px solid rgba(153,153,153,0.5) !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color:#55d069 !important;
  border:2px solid #55d069 !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background:white !important;
  left:20px !important;
  top:0px !important;
}
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after, input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadow:0 0px 0px 0px rgba(0,0,0,0),0 0 0 0px rgba(0,0,0,0) !important;
}
[type="radio"]+label:before, [type="radio"]+label:after {
  height:15px !important;
  width:15px !important;
  margin-top:5px !important;
  margin-left:10px !important
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid rgba(153,153,153,0.5) !important;
}
.tabs .tab a.active {
  background:#2C93FF !important;
  color:white !important;
}
.tabs .tab a.active:hover {
  background:#2C93FF !important;
  color:white !important;
}
.tabs .tab a {
  color:#2C93FF !important;
  transition:0.3s ease-in-out !important;
  text-transform:none !important;
}
.tabs {
  border-radius:6px !important;
  border:1px solid #2C93FF !important;
}
.indicator {
  display:none !important;
}
.tabs .tab a:hover {
  color:#2784e5 !important;
   transition:0.3s ease-in-out !important;
  background:rgba(44,147,255,0.2)
}
.tabs .tab.disabled a {
  color:#9f9f9f !important;
  background:#DFDFDF !important;
}

.tabs .tab {
  border-style:solid !important;
  border-top:0px !important;
  border-left:0px !important;
  border-bottom:0px !important;
  border-right:1px solid #2C93FF !important;
}
.tabs:last-child {
  border-right:0px !important;
}

.dropdown-content {
  border-radius:2px !important;
  border:1px solid #e0e0e0 !important;
  width:auto!important !important;
}
.dropdown-content li>a, .dropdown-content li>span {
  text-align:left !important;
  color: #4CAF50 !important;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background:rgba(238,238,238,0.4) !important;
}
.title:hover {
  background:rgba(0,0,0,0)!important !important;
}
.title a:hover, .title p:hover {
  cursor:default!important !important;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-bottom-width:0px !important;
  border:1px solid #ccc !important;
  padding-left:0.5rem !important;
  border-radius:5px !important;

}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border:1px solid rgba(76, 175, 80, 0.79) !important !important;

}
.input-field label {
  padding-bottom:0.3rem !important;
  font-weight:500 !important;
  transform:translateY(-140%) !important;
  color:black !important;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  margin-left:-0.5rem !important;
  padding-bottom:0.3rem !important;
  color:black !important;
  font-size:1rem !important;
  margin-left:0.03rem !important;
}
.input-field label.active {
  -webkit-transform:translateY(-140%) !important;
    transform:translateY(-140%) !important;
  color:black !important;
}
input:not([type]).validate+label, input[type=text].validate+label, input[type=password].validate+label, input[type=email].validate+label, input[type=url].validate+label, input[type=time].validate+label, input[type=date].validate+label, input[type=datetime].validate+label, input[type=datetime-local].validate+label, input[type=tel].validate+label, input[type=number].validate+label, input[type=search].validate+label, textarea.materialize-textarea.validate+label {
  color:black !important;
  font-size:1rem !important;
}
input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime].invalid, input[type=datetime]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
  border-bottom-width:0px !important;
  border:1px solid #c6c6c6 !important;
  box-shadow:0 0px 0 0 #F44336 !important;
  color:#FF3B30 !important;
  font-weight:500 !important;
}
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  box-shadow:0 0px 0 0 #4CAF50 !important;
  border-bottom-width:0px !important;
  border:1px solid #c6c6c6 !important;
  color:#05AE0E !important;
  font-weight:500 !important;
}
input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
  background-color:rgba(0,0,0,0.06) !important;
  border-bottom-width:0px !important;
  border:1px solid #c6c6c6 !important;
}


.bold {
  font-weight:500 !important;
}
.select-wrapper input.select-dropdown {
  border-bottom-width:0px !important;
  border:1px solid #c6c6c6 !important;
  padding-left:0.5rem !important;
}
.disabled:hover {
  background:transparent!important !important;
  cursor:not-allowed !important;
}
.disabled {
  background:transparent!important !important;
  cursor:not-allowed !important;
}
.full-width {
  width:100% !important;
}
textarea.materialize-textarea {
  resize:vertical !important;

}
